* {
  font-family: 'Acme', sans-serif;
}

.header {
  height: 700px;
  background: white;
}

.header li {
  border: 2px;
  border-radius: 10px;
  list-style-type: none;
  width: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin: 20px 0;
  background: #f2f2f2;
}

.header li:hover {
  background: #eaeaea;
}

.header ul {
  display: inline-block;
}

.header h1 {
  padding-top: 50px;
}

.header a {
  color: black;
  text-decoration: none;

}

.header a:hover {
  color: red;
  text-decoration: none;
}


